<li id="comment-<%=com._id%>">
    <% if(locals.user && (locals.user.id==com.user.id)){%>
        <small>
            <a class="delete-push-comment" href="/comment/destroy/<%=com.id%>">x</a>
        </small>
        <%}%>
    <%= com.content%>
    <br>
    <%= com.user.name%>
</li>