<header>

    <a href="/" id="logo">Codeial</a>
    <ul class="onefun">
        <% if (locals.user){ %>
            <li>
                <a href="/users/profile/<%=user._id%>" id="username">
                    <%= user.name %>
                </a>
            </li>
            <li>
                <a href="/users/signout" id="userout">Sign Out</a>
            </li>
        <% }else{ %>

            <li>
                <a href="/users/signin" id="userin">Sign In</a>
            </li>

            <li>
                <a href="/users/signup" id="userup">Sign Up</a>
            </li>


        <% } %>
    </ul>

</header>