<% if(locals.user){%>
    <div id="user-chat-box">
        <ul id="chat-messages-list">
            <!-- <li class="other-messages">
                <span>Other messages </span>
            </li>
            <li class="self-messages">
                <span>Self messages</span>
            </li> -->
        </ul>

        <div id="chat-messages-input-container">
            <input type="text" id="chat-messages-input" placeholder="Type message Here ..">
            <button id="send-messages">Send</button>
        </div>
    </div>
<%}%>