    <h1>Codeial <%= title%></h1>
<section id="feed-post">
    
    <% if(locals.user){%>
        <h4>Posts</h4>
        <form action="/posts/feed" id="new-post-formed" method='post'>
            <textarea name="content" id="" cols="30" rows="3" placeholder="Type here..." required></textarea>
            <input type="submit" value="Post">
        </form>
        <%}%>
        <h4>Recent Posts</h4>
        <div id="posts-list-container">
            <ul>
                <%for(let it of arr){%>
                    <%- include('_post',{it:it}) -%>
                <%}%>
            </ul>
        </div>
</section>

<section id="user-friends">
    <h4>Friends</h4>
    <% for(u of all_user){ %>
        <p>
            <a href="/users/profile/<%=u.id%>">
                <%= u.name%>
            </a>
        </p>
    <%}%>
</section>

<script src="/js/home_post.js"></script>