
<form action="/users/resetPasswordCall/<%=accessToken%>" method="post">
    <input type="password" name="password" id="password" placeholder="Password" required>
    <input type="password" name="conformPassword" id="conformPassword" placeholder="conformPassword" required>
    <input type="submit" value="Change passoword">
</form>