footer{
    background-color: black;
    position: relative;
    width: 100%;
    ul{
        color: white;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }
    // margin: 0px 0px 0px 0px;
}