<h1>
    <p>
        Hii <%=data.user.name%>!
    </p>
</h1>
<br>
<h3>
    The the reset Token is : 
</h3>
<a href="http://localhost:8000/users/reset-password/<%=data.accessToken%>" target="_blank">
    users/reset-password/<%=data.accessToken%></a>
    <br>
    
<a href="https://www.youtube.com/" target="_blank">Youtube redirect</a>

<h1>Thanks!</h1>