#home-container {
  display: flex;
  margin: 0;
}

#home-container #feed-post {
  width: 70%;
}

#home-container #user-friends {
  width: 30%;
  height: 100%;
  border-left: 1px solid lightgrey;
  padding: 10px;
}
